<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Simple Velocity Email</title>
</head>
<body class="">
<h1>Velocity e-mail strong</h1>
<span>Some email text.</span>
<div>
    <ul>
        <li>${headers.now}</li>
        <li>This is,</li>
        <li>an option,</li>
        <li>list.</li>
    </ul>
</div>

</body>
</html>